<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>test3</title>
</head>
<body>
<!--<table border="1">
    <tr th:each="p:${persons}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.age}"></td>
        <td th:text="${p.address}"></td>
    </tr>
</table>-->
<div>
      <form action="#" th:action="@{/test3}" th:object="${person}" method="post">
       <input type="text" th:field="*{name}"/>
       <input type="text" th:field="*{age}"/>
       <input type="text" th:field="*{address}"/>
       <button type="submit" name="add" value="add"></button>
   </form>
  </div>
  <div>
  <a th:href="@{/test4}">display all</a>
  </div>
</body>
</html>
