<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <link  rel="stylesheet" href="../../themes/default.css"  />
    <title>test1</title>
</head>
<body>
    <a href="?theme='first'">first</a>
    <a href="?theme='second'">second</a>
    <p th:text="'*'+${test2_model_attr1}+'*'"></p>
    <p th:text="${@componentBean1.prop1}"></p>
    <p th:text="${session.mysessionattribute1 }"></p>
    <p th:text="${#themes.code('foo')}"></p>
</body>
</html>
