<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>test5</title>
</head>
<body>
<h1>model attributes from non-public mapping methods</h1>
<!--@thymesVar id="users" type="java.util.List<mytests.thymeleafexamples.spring_thyme.Person>"-->
<table border="1" th:unless="${#lists.isEmpty(users)}">
    <tr th:each="p:${users}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.age}"></td>
        <td th:text="${p.address}"></td>
    </tr>
</table>

</body>
</html>
