<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>test1</title>
</head>
<body>
    <p th:text="'*'+${'__'+common_str1_attr1+'__'}+'*'"></p>
     <p th:text="#{mess1}"></p>
     <p th:text="#{mess2(${#dates.createToday()})}"></p>
     <p th:text="${#vars.common_str1_attr1}"></p>
     <p th:text="${#ctx.variables.common_str1_attr1}"></p>
    <p>params test:</p>
    <p th:text="${param.size()}"></p>
    <p>application context attributes: </p>
        <table border="1">
        <tr th:each="ctx_attr : ${application.keySet()}" >
                <td th:text="${ctx_attr}"></td>
                <td th:text="${application.get(ctx_attr)}"></td>
            </tr>
        </table>
</body>
</html>
