<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>test3</title>
</head>
<body>
<div>
      <form action="#" data-th-action="@{/test3}" data-th-object="${person}" method="post">
       <input type="text" data-th-field="*{name}"/>
       <input type="text" data-th-field="*{age}"/>
       <input type="text" data-th-field="*{address}"/>
       <button type="submit" name="add" data-th-text="add"></button>
          <ul data-th-if="${#fields.hasErrors('*')}">
              <li data-th-each="error: ${#fields.allErrors()}" data-th-text="${error}"></li>
          </ul>
      </form>
</div>
<div>
      <a data-th-href="@{/test4}">display all</a>
      <a data-th-href="@{/test5}">display new</a>
  </div>
</body>
</html>
