<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>test3</title>
</head>
<body>
<div>
      <form action="#" th:action="@{/test3}" th:object="${person}" method="post">
       <input type="text" th:field="*{name}"/>
       <input type="text" th:field="*{age}"/>
       <input type="text" th:field="*{address}"/>
       <button type="submit" name="add" th:text="add"></button>
   </form>
  </div>
  <div>
  <a th:href="@{/test4}">display all</a>
  <a th:href="@{/test5}">display new</a>
  </div>
</body>
</html>
