<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>test5</title>
</head>
<body>
<h1>model attributes from non-public mapping methods</h1>

<!--@thymesVar id="users" type="java.util.List<mytests.thymeleafexamples.spring_thyme.Person>"-->
<!--@thymesVar id="isAdmin" type="java.lang.Boolean"-->
<!--@thymesVar id="new_persons" type="java.util.List<mytests.thymeleafexamples.spring_thyme.Person>"-->
<p th:text="${new_persons[0].name}"></p>
<p th:text="${#vars.new_persons[0].name}"></p>
<table border="1" th:unless="${(!#vars.isAdmin) or (#lists.isEmpty(users)) or (#lists.contains(checkins,'late'))}">
    <tr>
        <td>name</td>
        <td>age</td>
        <td>address</td>
    </tr>
    <tr th:each="p:${users}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.age}"></td>
        <td th:text="${p.address}"></td>
    </tr>
</table>

</body>
</html>
